.wrapper {
  background-color: #fff;
  background-repeat: repeat;
  /* stylelint-disable-next-line csstree/validator */
  color: rgba(#6777ff, 0.25);
  min-height: inherit;
  overflow: hidden;
  position: relative;
}

.particles {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.talentWrapper {
  display: flex;
  height: 80dvh;
  justify-content: center;
  position: relative;
}

.talentImageWrapper {
  height: 200dvh;
  max-width: 1280px;
  position: absolute;
  width: 100%;
  @include mq.mq($until: tablet) {
    top: 0;
  }
  @include mq.mq($from: tablet) {
    top: 36px;
  }
}

.talentImage {
  filter: drop-shadow(12px 12px rgba(#063f5c, 0.5));
  object-position: top;
  @include mq.mq($until: tablet) {
    object-fit: cover;
  }
  @include mq.mq($from: tablet) {
    object-fit: contain;
  }
}

.nameWrapper {
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  max-width: 1280px;
  position: absolute;
  width: 100%;
  @include mq.mq($until: desktop) {
    padding: 36px 12px;
  }
  @include mq.mq($from: desktop) {
    padding: 72px;
  }
}

.nameInner {
  rotate: -12.5deg;
  text-align: center;
  @include mq.mq($until: tablet) {
    padding: 0 12px;
  }
  @include mq.mq($from: tablet) {
    padding: 0 72px;
  }
}

.nameBlock {
  color: #fff;
  filter: drop-shadow(2px 2px 2px rgba(#6777ff, 0.5))
    drop-shadow(2px -2px 2px rgba(#6777ff, 0.5))
    drop-shadow(-2px 2px 2px rgba(#6777ff, 0.5))
    drop-shadow(-2px -2px 2px rgba(#6777ff, 0.5))
    drop-shadow(4px 4px 4px rgba(#063f5c, 0.25));
  font-style: italic !important;
  @include mq.mq($until: tablet) {
    font-size: 7.2rem;
  }
  @include mq.mq($from: tablet) {
    font-size: 10.8rem;
  }
}

.furiganaBlock {
  color: #6777ff;
  font-style: italic !important;
  @include mq.mq($until: tablet) {
    font-size: 1.8rem;
  }
  @include mq.mq($from: tablet) {
    font-size: 2.4rem;
  }
}

.detailWrapper {
  display: flex;
  justify-content: center;
  @include mq.mq($until: desktop) {
    padding: 0 12px 72px;
  }
  @include mq.mq($from: desktop) {
    padding: 0 72px 72px;
  }
}

.detailInner {
  backdrop-filter: blur(1px);
  /* stylelint-disable-next-line csstree/validator */
  background: rgba(#6777ff, 0.75);
  border: 4px solid #fff;
  border-radius: 24px;
  color: #fff;
  display: grid;
  gap: 24px;
  line-height: 1.75;
  max-width: 1280px;
  padding: 24px;
  position: relative;
  width: 100%;
  @include mq.mq($until: desktop) {
    grid-template: auto / 100%;
  }
  @include mq.mq($from: desktop) {
    grid-template: auto / repeat(2, 1fr);
  }
}

.profileBlock {
  font-size: 1.8rem;
}

.detailList {
  align-content: flex-start;
  display: grid;
  font-size: 1.6rem;
  gap: 4px 36px;
  grid-template: auto / auto 1fr;
}

.detailTerm {
  white-space: nowrap;
}

.buttonsWrapper {
  display: grid;
  gap: 12px;
  grid-template: auto / repeat(2, 1fr);
  padding: 12px 0 0;
}

.button {
  background: #6777ff;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 900;
  padding: 2px 0;
}
