.header {
  align-items: center;
  background: #000;
  color: #fff;
  display: flex;
  width: 100%;
  @include mq.mq($until: tablet) {
    height: 48px;
    padding: 0 12px;
  }
  @include mq.mq($from: tablet) {
    height: 64px;
    padding: 0 64px;
  }
}

.title {
  font-size: 3.2rem;
}

.nav {
  font-size: 2rem;
  @include mq.mq($until: tablet) {
    display: none;
  }
  @include mq.mq($from: tablet) {
    display: block;
  }
}

.list {
  display: flex;
  @include mq.mq($until: tablet) {
    gap: 12px;
  }
  @include mq.mq($from: tablet) {
    gap: 32px;
  }
}

.hamburgerWrapper {
  @include mq.mq($until: tablet) {
    display: block;
  }
  @include mq.mq($from: tablet) {
    display: none;
  }
}
