.header {
  background-color: #6777ff;
  background-repeat: repeat;
  /* stylelint-disable-next-line csstree/validator */
  border-bottom: 1px solid rgba(#fff, 0.5);
  /* stylelint-disable-next-line csstree/validator */
  color: rgba(#fff, 0.25);
  display: flex;
}

.list {
  color: #fff;
  display: flex;
  gap: 36px;
  margin: 8px 0;
}

.link {
  font-size: 1.6rem;
  font-weight: 900;
}
