.wrapper {
  display: grid;
  position: relative;
  @include mq.mq($until: tablet) {
    margin: 48px 0 0;
  }
  @include mq.mq($from: tablet) {
    margin: 64px 0 0;
  }
}

.headerWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.top {
  align-items: center;
  background: #ca0015;
  color: #000;
  display: flex;
  height: 90dvh !important;
  justify-content: center;
}

.heading1 {
  height: 0;
  opacity: 0;
  width: 0;
}

.logoWrapper {
  /* stylelint-disable-next-line csstree/validator */
  height: min(calc(100dvmin - 24px), 800px);
  position: relative;
  /* stylelint-disable-next-line csstree/validator */
  width: min(calc(100dvmin - 24px), 800px);
}

.logo {
  inset: 0;
  position: absolute;
}

.article {
  background-repeat: repeat;
  /* stylelint-disable-next-line csstree/validator */
  color: rgba(#fff, 0.125);
  @include mq.mq($until: tablet) {
    padding: 32px 12px;
  }
  @include mq.mq($from: tablet) {
    padding: 64px;
  }
}

.element:nth-child(even) .article {
  background-color: #e5780a;
}

.element:nth-child(odd) .article {
  background-color: #ca0015;
}

.articleInner {
  color: #fff;
  margin-inline: auto;
  /* stylelint-disable-next-line csstree/validator */
  width: min(100%, 1240px);
}

.heading2Wrapper {
  position: relative;
}

.heading2Wrapper::before {
  /* stylelint-disable-next-line csstree/validator */
  background: rgba(#fff, 0.25);
  border-radius: 0 100dvmax 100dvmax 0;
  content: "";
  display: block;
  inset: 40% 0 0 -50dvw;
  position: absolute;
}

.heading2 {
  background-color: #fff001;
  background-repeat: repeat;
  /* stylelint-disable-next-line csstree/validator */
  color: #e5780a;
  position: relative;
  /* stylelint-disable-next-line csstree/validator */
  text-shadow: 8px 8px 0 rgba(#fff, 0.25);
  @include mq.mq($until: tablet) {
    font-size: 6.4rem;
  }
  @include mq.mq($from: tablet) {
    font-size: 8rem;
  }
}

.articleContent {
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  min-height: 320px;
}

.articleText {
  background: #000;
  letter-spacing: 0.25rem;
  line-height: 2;
  text-align: center;
  @include mq.mq($until: tablet) {
    padding: 12px 32px;
  }
  @include mq.mq($from: tablet) {
    padding: 24px 64px;
  }
}

.swiperWrapper {
  position: relative;
  @include mq.mq($until: tablet) {
    margin: 24px 0 0;
  }
  @include mq.mq($from: tablet) {
    margin: 64px 0 0;
  }
}

.swiper {
  position: absolute;
  width: 100%;
}

.swiperWrapper .articleContent {
  inset: 0;
  position: absolute;
  z-index: 2;
}

.formWrapper {
  margin: 48px 0;
  @include mq.mq($until: tablet) {
    width: 100%;
  }
  @include mq.mq($from: tablet) {
    width: 600px;
  }
}

.filedsWrapper {
  display: grid;
  gap: 36px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input,
.textarea {
  background: #eee;
  border-radius: 8px;
  padding: 4px 8px;
  width: 100%;
}

.errorMessage {
  color: #ca0015;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin: 64px 0 0;
}

.button {
  background: #000;
  border-radius: 8px;
  color: #fff;
  letter-spacing: 0.25rem;
  padding: 12px 32px;
  transition: 250ms;
}

.button:disabled {
  opacity: 0.5;
}

.scrollToTop {
  background: #018ccd !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  color: #fff;
  font-size: 2rem;
  right: 0 !important;
  width: auto !important;
  @include mq.mq($until: tablet) {
    padding: 0 12px;
  }
  @include mq.mq($from: tablet) {
    padding: 0 64px 0 12px;
  }
}

.scrollToTop:active {
  transform: none !important;
}
