.footer {
  background-color: #6777ff;
  background-repeat: repeat;
  /* stylelint-disable-next-line csstree/validator */
  border-top: 1px solid rgba(#fff, 0.5);
  /* stylelint-disable-next-line csstree/validator */
  color: rgba(#fff, 0.25);
  display: flex;
}

.copyrightBlock {
  color: #fff;
  font-size: 1.4rem;
  margin: 36px 0;
}
