.footer {
  background-color: #6777ff;
  background-repeat: repeat;
  /* stylelint-disable-next-line csstree/validator */
  color: rgba(#fff, 0.25);
  display: flex;
}

.footerInner {
  display: grid;
  text-align: center;
}

.copyrightBlock {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 900;
  margin: -24px 0 60px;
}
