.wrapper {
  display: grid;
  gap: 6px;
  grid-template: auto auto 1fr / auto;
  padding: 12px;
}

.topBlock {
  display: flex;
  gap: 12px;
}

.input {
  border: 1px solid #d0d7de;
  border-radius: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 4px;
}

.editor :global(.w-md-editor-text) {
  min-height: 100% !important;
}
